body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-Item {
    margin: auto;
    text-align: center;
}

.content-Title {
    font-size: 250%;
    font-weight: bold;
}


/*DATA TABLE CSS*/
table {
    width: 100%;
}

#example_filter {
    float: right;
}

#example_paginate {
    float: right;
}

label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.daily-success {
    background-color: green;
}

.daily-failed {
    background-color: red;
}

.mainActivity {
    border: 25px solid black;
}

.enlarge-Item {
    font-size: 150%;
}

th {
    margin: auto;
    text-align: center;
}

/*Gantt Chart CSS*/
#container {
    margin: 1em auto;
}

.highcharts-label-icon {
    opacity: 0.5;
}








/* My style */

/*CSS FOR HEALTH STATUS REPORT*/


