USE [master]
GO
/****** Object:  Database [ProjectManagementDB]    Script Date: 28/07/2024 1:56:41 pm ******/
CREATE DATABASE [ProjectManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ProjectManagementDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ProjectManagementDB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectManagementDB]
GO
/****** Object:  Table [dbo].[ChecklistTable]    Script Date: 28/07/2024 1:56:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [varchar](50) NULL,
	[duration] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[parent] [int] NULL,
	[projectReference] [int] NULL,
	[source] [int] NULL,
	[target] [int] NULL,
	[type] [varchar](50) NULL,
	[ofYear] [int] NULL,
	[startWeek] [int] NULL,
	[endWeek] [int] NULL,
	[title] [varchar](50) NULL,
	[projectType] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[color] [nvarchar](5) NULL,
	[details] [nvarchar](250) NULL,
	[dateInitial] [datetime] NULL,
	[dateFinished] [datetime] NULL,
 CONSTRAINT [PK_ChecklistTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 28/07/2024 1:56:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[division] [nvarchar](50) NULL,
	[year] [int] NULL,
	[inQuarter] [int] NULL,
	[projectName] [nvarchar](50) NULL,
	[targetKPI] [float] NULL,
	[actualKPI] [float] NULL,
	[completionRate] [float] NULL,
	[status] [nvarchar](10) NULL,
	[currentTask] [nvarchar](50) NULL,
	[nextTask] [nvarchar](50) NULL,
	[comments] [nvarchar](250) NULL,
	[milestoneActual] [nvarchar](250) NULL,
	[milestoneTarget] [nvarchar](250) NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WeeklyChecklistTable]    Script Date: 28/07/2024 1:56:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyChecklistTable](
	[weeklyID] [int] IDENTITY(1,1) NOT NULL,
	[weeklyTitle] [nvarchar](50) NULL,
	[weeklyDuration] [nvarchar](50) NULL,
	[weeklyStart] [date] NOT NULL,
	[weeklyTarget] [date] NOT NULL,
	[weeklyInYear] [int] NULL,
	[subMain] [int] NULL,
	[subSub] [int] NULL,
	[division] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL,
	[week52] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week1_1]  DEFAULT ((0)),
	[week51] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week2]  DEFAULT ((0)),
	[week50] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week3]  DEFAULT ((0)),
	[week49] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week4]  DEFAULT ((0)),
	[week48] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week5]  DEFAULT ((0)),
	[week47] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week6]  DEFAULT ((0)),
	[week46] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week7]  DEFAULT ((0)),
	[week45] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week8]  DEFAULT ((0)),
	[week44] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week9]  DEFAULT ((0)),
	[week43] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week10]  DEFAULT ((0)),
	[week42] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week11]  DEFAULT ((0)),
	[week41] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week12]  DEFAULT ((0)),
	[week40] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week13]  DEFAULT ((0)),
	[week39] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week14]  DEFAULT ((0)),
	[week38] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week15]  DEFAULT ((0)),
	[week37] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week16]  DEFAULT ((0)),
	[week36] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week17]  DEFAULT ((0)),
	[week35] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week18]  DEFAULT ((0)),
	[week34] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week19]  DEFAULT ((0)),
	[week33] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week20]  DEFAULT ((0)),
	[week32] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week21]  DEFAULT ((0)),
	[week31] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week22]  DEFAULT ((0)),
	[week30] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week23]  DEFAULT ((0)),
	[week29] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week24]  DEFAULT ((0)),
	[week28] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week25]  DEFAULT ((0)),
	[week27] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week26]  DEFAULT ((0)),
	[week26] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week27]  DEFAULT ((0)),
	[week25] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week28]  DEFAULT ((0)),
	[week24] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week29]  DEFAULT ((0)),
	[week23] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week30]  DEFAULT ((0)),
	[week22] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week31]  DEFAULT ((0)),
	[week21] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week32]  DEFAULT ((0)),
	[week20] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week33]  DEFAULT ((0)),
	[week19] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week34]  DEFAULT ((0)),
	[week18] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week35]  DEFAULT ((0)),
	[week17] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week36]  DEFAULT ((0)),
	[week16] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week37]  DEFAULT ((0)),
	[week15] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week38]  DEFAULT ((0)),
	[week14] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week39]  DEFAULT ((0)),
	[week13] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week40]  DEFAULT ((0)),
	[week12] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week41]  DEFAULT ((0)),
	[week11] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week42]  DEFAULT ((0)),
	[week10] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week43]  DEFAULT ((0)),
	[week9] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week44]  DEFAULT ((0)),
	[week8] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week45]  DEFAULT ((0)),
	[week7] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week46]  DEFAULT ((0)),
	[week6] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week47]  DEFAULT ((0)),
	[week5] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week48]  DEFAULT ((0)),
	[week4] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week49]  DEFAULT ((0)),
	[week3] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week50]  DEFAULT ((0)),
	[week2] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week51]  DEFAULT ((0)),
	[week1] [bit] NOT NULL CONSTRAINT [DF_WeeklyChecklistTable_week52]  DEFAULT ((0)),
	[inWeek] [int] NULL,
	[isCancelled] [bit] NULL,
	[isDelayed] [bit] NULL,
 CONSTRAINT [PK_WeeklyChecklistTable] PRIMARY KEY CLUSTERED 
(
	[weeklyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChecklistTable] ON 

INSERT [dbo].[ChecklistTable] ([id], [text], [duration], [start_date], [parent], [projectReference], [source], [target], [type], [ofYear], [startWeek], [endWeek], [title], [projectType], [status], [color], [details], [dateInitial], [dateFinished]) VALUES (3, N'First', 2, CAST(N'2024-07-29' AS Date), NULL, 1, 3, 7, N'0', 2024, 28, 31, N'first', NULL, NULL, N'black', NULL, CAST(N'2024-07-30 08:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ChecklistTable] ([id], [text], [duration], [start_date], [parent], [projectReference], [source], [target], [type], [ofYear], [startWeek], [endWeek], [title], [projectType], [status], [color], [details], [dateInitial], [dateFinished]) VALUES (7, N'Second', 1, CAST(N'2024-07-29' AS Date), 3, 1, NULL, NULL, NULL, 2024, 28, 31, N'first', NULL, NULL, N'black', NULL, CAST(N'2024-07-24 08:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ChecklistTable] ([id], [text], [duration], [start_date], [parent], [projectReference], [source], [target], [type], [ofYear], [startWeek], [endWeek], [title], [projectType], [status], [color], [details], [dateInitial], [dateFinished]) VALUES (9, N'FirstULIT', 12, CAST(N'2024-09-18' AS Date), NULL, NULL, NULL, NULL, NULL, 2024, 30, 38, N'subFirst', NULL, NULL, N'blue', NULL, CAST(N'2024-07-26 00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ChecklistTable] OFF
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([id], [division], [year], [inQuarter], [projectName], [targetKPI], [actualKPI], [completionRate], [status], [currentTask], [nextTask], [comments], [milestoneActual], [milestoneTarget]) VALUES (1, N'ITS', 2024, 1, N'SAMPLE', 90, 95, 100, N'on track', N'Initiation - Planning', N'Initiation - Scheduling', N'Good Luck', NULL, NULL)
INSERT [dbo].[Reports] ([id], [division], [year], [inQuarter], [projectName], [targetKPI], [actualKPI], [completionRate], [status], [currentTask], [nextTask], [comments], [milestoneActual], [milestoneTarget]) VALUES (2, N'HR', 2023, 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reports] OFF
SET IDENTITY_INSERT [dbo].[WeeklyChecklistTable] ON 

SET IDENTITY_INSERT [dbo].[WeeklyChecklistTable] OFF
USE [master]
GO
