USE [ProjectManagementDB]
GO
/****** Object:  Table [dbo].[ChecklistTable]    Script Date: 29/06/2024 3:05:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistTable](
	[checkListId] [int] IDENTITY(1,1) NOT NULL,
	[parentWeeklyReference] [int] NULL,
	[parentSubReference] [int] NULL,
	[title] [varchar](50) NULL,
	[duration] [varchar](50) NULL,
	[startDate] [date] NULL,
	[targetDate] [date] NULL,
 CONSTRAINT [PK_ChecklistTable] PRIMARY KEY CLUSTERED 
(
	[checkListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ChecklistTable] ON 

INSERT [dbo].[ChecklistTable] ([checkListId], [parentWeeklyReference], [parentSubReference], [title], [duration], [startDate], [targetDate]) VALUES (1, NULL, NULL, N'Test Title', N'5 Days', CAST(N'2024-06-29' AS Date), CAST(N'2024-06-30' AS Date))
INSERT [dbo].[ChecklistTable] ([checkListId], [parentWeeklyReference], [parentSubReference], [title], [duration], [startDate], [targetDate]) VALUES (2, 1, NULL, N'Sub1', N'4 Days', CAST(N'2024-06-29' AS Date), CAST(N'2024-06-30' AS Date))
INSERT [dbo].[ChecklistTable] ([checkListId], [parentWeeklyReference], [parentSubReference], [title], [duration], [startDate], [targetDate]) VALUES (3, NULL, NULL, N'Development', N'10 months', CAST(N'2024-06-29' AS Date), CAST(N'2025-04-29' AS Date))
SET IDENTITY_INSERT [dbo].[ChecklistTable] OFF
