
@{
    ViewBag.Title = "AccessDenied";
    Layout = null;
}

<h2>AccessDenied</h2>
<a href="@Url.Action("Logout", "Account")">Return to Log In | </a>
<a href="@Url.Action("Dashboard", "Checklist")">Home</a>