@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .access-denied-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    .icon img {
        width: 80px;
        margin-bottom: 20px;
    }

    .access-denied-content {
        max-width: 400px;
    }

    .access-denied-content h1 {
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
        margin: 0;
    }

    .access-denied-content p {
        font-size: 1em;
        color: #555;
        margin-top: 10px;
    }

    .access-denied-content .btn {
        font-family: 'Poppins', sans-serif;
        background-color: #470A67;
        border: none;
        padding: 8px 16px;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        font-size: 14px;
        margin-top: 15px;
        text-decoration: none;
        display: inline-block;
    }

    .access-denied-content .btn:hover {
        background-color: #0056b3;
    }
</style>

<div class="access-denied-container">
    <div class="icon">
        <img src="~/AdminLTE-3.2.0/dist/img/ek.png" alt="Access Denied Icon">
    </div>
    <div class="access-denied-content">
        <h1><i class="fa fa-lock"></i>  Access Denied</h1>
        <p>Your account does not have the required access to this page. For assistance, please reach out to your administrator.</p>
        <a href="@Url.Action("Dashboard", "Checklist")" class="btn">Home</a>
    </div>
</div>
