@model List<ProjectManagementSystem.Models.UserType>
@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>

        body {
            font-family: 'Poppins', sans-serif;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .form-container {
            max-width: 500px;
            padding: 50px 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: auto;
        }

        .form-group label {
            font-weight: bold;
            color: #333;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.12);
        }

        .btn-primary {
            background-color: #66339A;
            border: none;
            padding: 10px 20px;
            color: #fff;
            font-weight: bold;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

            .btn-primary:hover {
                background-color: #532c7e;
            }

        .form-text {
            font-size: 0.9rem;
            color: #555;
        }

        .form-footer {
            text-align: right;
            padding-top: 20px;
        }
    </style>
</head>

<div class="loader-body">
    <div class="loader-container">
        <span class="loader-span"></span>
        <div class="loader-center">
            <div class="loader-wrap">
                <div class="box-1 box">

                    <i><img src="~/FrontEnd/dist/img/smiley_eldar.png" class="eldar-img" /></i>
                    <i><img src="~/FrontEnd/dist/img/happy_eldar.png" class="eldar-img" /></i>
                </div>
                <div class="box-2 box">
                    <i><img src="~/FrontEnd/dist/img/smiley_eldar.png" class="eldar-img" /></i>
                    <i><img src="~/FrontEnd/dist/img/happy_eldar.png" class="eldar-img" /></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-body d-none">
    <!-- Main content -->
    <div class="content">
        <div class="form-container">
            <h3 class="text-center" style="color: #66339A;">User Registration</h3>
            <p class="text-center text-muted">Please enter the designated user's email below</p>
            <!-- Project Name Input -->
            <form id="userRegistrationForm" name="userRegistrationForm" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="user_email"><strong>User email</strong></label>
                    <input type="text" id="user_email" name="user_email" class="form-control" placeholder="Enter User Email" required />
                    <label for="user_type"><strong>User Type</strong></label>
                    <select id="user_type" name="user_type">
                        <option value="" disabled selected>Select a Project</option>
                        @foreach (var type in Model)
                        {
                            <option value="@type.type_name">@type.type_name</option>
                        }
                    </select>
                    @*<small class="form-text">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red"></i> Make sure the project name matches exactly with the Excel file.
                        </small>*@
                </div>
                <!-- Submit Button -->
                <div class="form-footer">
                    <button id="submit_user" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".main-body").removeClass("d-none");
            $(".loader-body").addClass("d-none");

            $("#userRegistrationForm").on("submit", function(e){
                e.preventDefault();
                var userEmail = $('#user_email').val();
                var userType = $('#user_type').val();

                $(".main-body").addClass("d-none");
                $(".loader-body").removeClass("d-none");

                $.ajax({
                    method: "POST",
                    url: "@Url.Action("RegisterUser", "Admin")",
                    data: { "email": userEmail, "type": userType},
                    success: function (res) {
                        $(".main-body").removeClass("d-none");
                        $(".loader-body").addClass("d-none");
                        alert(res.message);
                    }
                });
            });
        });
    </script>
}

