@model ProjectManagementSystem.Models.projectRegister
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Register</h2>

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<div>
    <label>Project Name</label>
    <input type="text" id="project_name" />
    <button type="submit" id="submit_project">Submit</button>
</div>
@section scripts{
<script>
$(document).ready(function(){
            $("#submit_project").on("click", function(){
                var name = $("#project_name").val();
                $.ajax({
                    method: "post",
                    data: {"name" : name},
                    url: "@Url.Action("Register_Project", "Admin")",
                    success: function(res){
                        alert(res.message);
                    }
                });
            });
        });
</script>
    }
