
@{
    ViewBag.Title = "AcknowledgeInvite";
    Layout = null;
}

<h2>You have successfully acknowledged your invitation. Thank you!</h2>
<small display="color: red">You may now close this window.</small>

